@font-face {
    font-family: "Imprint MT Shadow";
    src:
      local("Imprint MT Shadow"),
      url("imprintmtshadow.ttf") format("ttf");
  }

  @font-face {
    font-family: "UnifrakturCook";
    src:
      local("UnifrakturCook"),
      url("UnifrakturCook-Bold.ttf") format("ttf");
  }

body{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    /* margin-top: 15vh; */
}
.buttons{
display: flex;
width: 100vw;
position: absolute;
justify-content: space-between;
}

#color, #color2{
    background-color: #4C6851;
    border: 1px solid black;
    opacity: 50%;
    display: flex;
    width: 98vw;
    height: 3vh;
    cursor: pointer;
  }

  .add{
    display: flex;
    color:black;
    height:3vh; 
  }

  #add{
    background-color: transparent;
    box-shadow: none;
    width: 2.25vw;
    cursor: pointer;
    font-size: 2vh;
    border: 1px solid black;
  }
input[type="color"] {
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

#overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    align-self: center;
    vertical-align: center;
}

h1{
    font-family: "UnifrakturCook", serif;
    font-size: 270px;
    position: relative;
    top: -15px;
    z-index: 0;
}

h2{
    font-family: "Imprint MT Shadow", serif;
    font-size: 36px;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    top: -182.5px;
}